@import 'colors';
@import 'media-queries';

%align-center{
    display: flex;
    align-items: center;
}

.navbar{
    background: $claro;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1200px) / 2);
    z-index: 10;
    position: relative;

    &__logo{
        color: $vagua;
        cursor: pointer;
        text-decoration: none;
        font-size: 2rem;
        margin-left: 24px;
        @extend %align-center;
    }

    &__bars{
        opacity: 0;


        @include tablet{
            color: $oscuro;
            opacity: 1;
            position: absolute;
            top: 22px;
            right: 20px;
            font-size: 2rem;
        }
    }

    &__menu{
        @extend %align-center;
        list-style: none;
        text-align: center;
        margin-right: 24px;

        @include tablet{
            display: none;
        }

        &--links {
            color: $oscuro;
            @extend %align-center;
            justify-content: center;
            text-decoration: none;
            padding: 0 1rem;

            &:hover{
                color: $vagua;
                transition: all 0.3s ease;
            }
        }
    }
}